<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<style>
.ma {
	text-align: center;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #FFF;
}
.text {
	font-family: "微軟正黑體";
	color:#C3F;
	font-size:28px;
}
</style>
</head>

<body>
<table width="1000" align="center" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#0066FF"><h1 class="ma">大雄家</h1>
    <span class="ma"></span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="../pic/view/1-1.jpg" width="736" height="652" /></td>
  </tr>
  <tr>
    <td><h3 style="text-decoration: underline; color: #0FF; font-size: 48px">概述</h3>
      <p class="text">　　大雄的家位於「日本東京都練馬區月見台」（這是從小夫家的地址推得），一共兩層樓，外觀是紅色屋頂的房子，在大雄出生前改建過，不過地是跟別人租的，媽媽曾經對地租的事情唉聲嘆氣過。距離學校腳程大約要 15 分鐘。</p>
      <p class="text">　　地主曾經考慮把大雄家的地改建成公寓，不過在 14 年後，這裡會被徵收成公園的公廁，而大雄家則搬到附近的公寓去了。</p>
    <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">院子</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/1.jpg" width="843" height="473" /></p>
    <p>房屋外觀</p></td>
  </tr>
  <tr>
    <td><p class="text">　　大雄家的建築物外，有現代人比較少有的院子，有很多花草樹木，經常可以看到大雄幫忙除草或澆水的情形。媽媽洗完衣服會把衣服放在院子裡曬；而院子裡還有倉庫，放一些平常不會用到的東西。</p>
    <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">1 樓</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/1-2.jpg" width="640" height="360" /></p>
    <p>大雄家的起居室</p></td>
  </tr>
  <tr>
    <td><p>　　<span class="text">進入家門後，就可看到擺在門口附近的電話。從走廊進入後，最近的一間房間是西式房間（會客室），這間房間平常並不常用，似乎也曾作為爸爸的書房使用。</span></p>
      <p class="text">　　再往前走，右側依序是廁所、盥洗室、浴室，乾溼分離；而左側則是起居室。大雄他們都在這裡會見客人、看電視、吃茶點，媽媽化妝與父母睡覺也是在這一間房間，可通往院子。起居室外就是通往 2 樓的樓梯，再往 1 樓內部走就是廚房與飯廳，旁邊有後門通往院子。</p>
    <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">2 樓</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/1-3.jpg" width="300" height="169" /></p>
    <p>大雄的房間</p></td>
  </tr>
  <tr>
    <td> 　　<span class="text">大雄家的二樓有儲物室和大雄的房間。大雄的房間裡有一個壁櫥，那是哆啦A夢睡覺的地方，而大雄自己則會從壁櫥裡拿棉被出來在地上睡；書桌則直面窗外，書桌的大抽屜裡就是哆啦A夢的時光機；壁櫥的對面則有大雄的書櫃與置物櫃，也有另一扇窗子。</span>
    <br />
<br />
<br />
<br />
<br />
</td>
  </tr>
</table>
</body>
</html>
