<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<style>
.ma {
	text-align: center;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #FFF;
}
.text {
	font-family: "微軟正黑體";
	color:#C3F;
	font-size:28px;
}
</style>
</head>

<body>
<table width="1000" align="center" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#0066FF"><h1 class="ma">靜香家</h1>
    <span class="ma"></span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="../pic/view/2-1.jpg" width="747" height="658" /></td>
  </tr>
  <tr>
    <td><h3 style="text-decoration: underline; color: #0FF; font-size: 48px">概述</h3>
      <p class="text">　　靜香的家是一棟淺綠色外觀的 2 層樓建築物，外型很典雅，在院子裡養著靜香的愛犬佩羅。相較於大雄家，靜香家的裝潢風格顯得比較西式。</p>
    <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">院子</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/2-2.jpg" width="700" height="397" /></p>
    <p>房屋外觀</p></td>
  </tr>
  <tr>
    <td><p class="text">　電話一樣是在門口附近，1 樓的客廳有靜香家人鼓勵靜香彈奏的鋼琴，還有一個看起來是衣櫃的櫥櫃。大家為靜香開生日會都是在這邊。靜香最愛去的浴室也是在 1 樓，她 1 天要洗 3 次澡；從浴室的裝潢看，應該是乾濕分離的。</p>
    <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">房間</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/2-3.jpg" width="300" height="165" /></p>
    <p>靜香的房間</p></td>
  </tr>
  <tr>
    <td><p class="text">　　靜香的房間在 2 樓。整體呈現暖色系風格，與打地鋪的大雄不同，有橘色系的床鋪，床鋪就對著落地窗。

　　<br />
　　大雄常去靜香的房間玩，而靜香的房間裡也有許多她最喜愛的娃娃。</p>
<br />
<br />
<br />
<br />
<br />
</td>
  </tr>
</table>
</body>
</html>
