<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<style>
.ma {
	text-align: center;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #FFF;
}
.text {
	font-family: "微軟正黑體";
	color:#C3F;
	font-size:28px;
}
</style>
</head>

<body>
<table width="1000" align="center" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#0066FF"><h1 class="ma">胖虎家</h1>
    <span class="ma"></span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="../pic/view/3-1.jpg" width="747" height="658" /></td>
  </tr>
  <tr>
    <td><h3 style="text-decoration: underline; color: #0FF; font-size: 48px">概述</h3>
      <span class="text"> 　　胖虎家的辨識度很高，因為正門就寫著一個大大的「剛田商店」字樣。
      </p>
      </span>
      <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">院子</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/3-2.jpg" width="700" height="397" /></p>
    <p>房屋外觀</p></td>
  </tr>
  <tr>
    <td><p class="text">　剛田商店在馬路旁邊，門口擺著許多生鮮雜貨，旁邊還有個自動販賣機。自動販賣機的旁邊是條窄巷，可通往胖虎木製的家。也有院子，但比較少出場。左側則是一間名喚「島田屋」的手製蕎麥麵店。</p>
    <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">剛田商店</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/3-3.jpg" width="300" height="165" /></p>
    <p>剛田商店</p></td>
  </tr>
  <tr>
    <td><p class="text">　剛田商店在住宅前面，算是比較傳統的雜貨店，商品種類五花八門，從水果、飲料、面紙、清潔用品、鍋具、掃把等應有盡有。有時候胖虎還得騎腳踏車幫忙送貨。靠住宅的一側有電話機。</p>
<br />
<br />
<br />
<br />
<br />
</td>
  </tr>
</table>
</body>
</html>
