<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<style>
.ma {
	text-align: center;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #FFF;
}
.text {
	font-family: "微軟正黑體";
	color:#C3F;
	font-size:28px;
}
</style>
</head>

<body>
<table width="1000" align="center" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#0066FF"><h1 class="ma">小夫家</h1>
    <span class="ma"></span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="../pic/view/4-1.jpg" width="747" height="658" /></td>
  </tr>
  <tr>
    <td><h3 style="text-decoration: underline; color: #0FF; font-size: 48px">概述</h3>
      <span class="text">　　小夫家的住宅還有院子都是眾人當中最大的，從圍牆到家門口，可以容的下一步拉風跑車，可見其大小。院子當中還有一個小池子，小夫可以在池子當中玩遙控小艇。
      </p>
      </span>
      <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">院子</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/4-2.jpg" width="300" height="167" /></p>
    <p>房屋外觀</p></td>
  </tr>
  <tr>
    <td><p class="text">　　小夫家的住宅在水田版動畫中是高貴的紫色系，就連正門的設計都與眾不同，有 2 扇門大，光從建物的大小就看出這家人的氣派。</p><br />
<p class="text">　　小夫的房間也有扇落地窗，床鋪也是以紫色系為主。床邊的牆上有一扇圖畫，床頭櫃則放有鬧鐘與模型。書桌則在床的對面一側。小夫房間裡似乎還有電視跟音響，有錢人果然不一樣。</p>
    <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">客廳</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/4-3.jpg" width="300" height="165" /></p>
    <p>小夫家客廳</p></td>
  </tr>
  <tr>
    <td><p class="text">　小夫家的客廳有一台大的液晶電視。在水田版動畫裡，大雄還曾戴上 3D 眼鏡透過小夫家的電視體驗特效。</p></td>
     <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/4-4.jpg" width="800" height="414" /></p>
    <p>小夫家浴室</p></td>
  </tr>
   <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/4-5.jpg" width="800" height="449" /></p>
    <p>小夫家廁所</p></td>
  </tr>
  <td><p class="text">　　小夫家的 1 樓還有浴室與廁所，都有富麗堂皇的裝修，浴室更有歐式風格，財力果然不一般。2 樓還有貯存花瓶、書畫、盔甲、古代流傳下來的劍等價值連城的收藏室。</p></td>
<br />
<br />
<br />
<br />
<br />
</td>
  </tr>
</table>
</body>
</html>
