<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<style>
.ma {
	text-align: center;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #FFF;
}
.text {
	font-family: "微軟正黑體";
	color:#C3F;
	font-size:28px;
}
</style>
</head>

<body>
<table width="1000" align="center" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#0066FF"><h1 class="ma">空地</h1>
    <span class="ma"></span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="../pic/view/5-1.jpg" width="800" height="489" /></td>
  </tr>
  <tr>
    <td><h3 style="text-decoration: underline; color: #0FF; font-size: 48px">概述</h3>
      <span class="text">　　空地最著名的標誌就是那 3 根以三角形的模樣疊在一起的土管。這裡是大雄他們最常聚在一起玩樂的地方。無論是打棒球、聊天、睡午覺甚至是辦演唱會，都會在這裡熱鬧的展開。<br />
      <br />
　　當大雄等人其中某個人無聊時，也都會來這裡走走，因為去空地一定可以找的到人說話。這裡也是胖虎的「胖虎棒球隊」的練習場，大家常在這裡打棒球，但因空間稍小，球常會打破人家（大多是神成先生家，因為空地隔壁就是神成先生家。因為他經常發怒，所以又被稱為雷公）的玻璃。另外，大雄也喜歡躺在缸管上睡覺。<br />
<br />
　　其實，空地是有地主的，也曾經有過要開發的計劃，不過不知道為什麼還是閒置到現在。空地經常成為《哆啦A夢》故事的舞台，還曾經發生發現未爆彈、鯊魚出沒等大事。</span></td>
  </tr>
    <br />
  <br />
  <br />
  <br />
  <br />
  <td></td>
  </tr>
</table>
</body>
</html>
