<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<style>
.ma {
	text-align: center;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #FFF;
}
.text {
	font-family: "微軟正黑體";
	color:#C3F;
	font-size:28px;
}
</style>
</head>

<body>
<table width="1000" align="center" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#0066FF"><h1 class="ma">商店街</h1>
    <span class="ma"></span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="../pic/view/8-1.jpg" width="747" height="411" /></td>
  </tr>
  <tr>
    <td><h3 style="text-decoration: underline; color: #0FF; font-size: 48px">概述</h3>
      <span class="text">　　有許多高樓大廈，和社區內明顯不同，路比較寬（還記得社區內傳統的道路嗎？路居然只夠一台汽車過去，不知道如果會車該怎麼辦）、車也多了些，人聲鼎沸，有電視台、電影院、百貨公司等。大雄等人常到市區的一間書店站著「看免錢的」，但老闆總是趕他們出去。
      </p>
      </span>
      <h3 style="text-decoration: underline; color: #0FF; font-size: 48px">院子</h3></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><img src="../pic/view/8-2.jpg" width="300" height="165" /></p>
    <p>爸爸的公司</p></td>
  </tr>
  <tr>
    <td><h3 style="text-decoration: underline; color: #0FF; font-size: 48px">爸爸的公司</h3>    
    <p class="text">　爸爸的公司在有百貨公司的繁華商業區附近，不過離大雄他們的小鎮有點遠，需要搭擁擠的電車才能到。所以哆啦A夢與大雄曾經為此特別幫爸爸做了一個專屬的地下鐵，讓爸爸十分感動。</p></td>
     
     <br />
  <br />
  <br />
  <br />
  <br />
  <td></td>
   </tr>
</table>
</body>
</html>
